<div class="stats-list">
  <h1 class="stats-title">Stats</h1>
  <mat-card>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 stat-column" *ngFor="let stats of statsList">
        <h3 class="stat-name">{{ stats?.stat?.name || '-' }}</h3>
        <p class="stat-value">{{ stats?.base_stat || '-' }}</p>
      </div>
    </div>
  </mat-card>
</div>
