.stats-title {
  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b1829;
}

.stat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-name {
  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  color: #0b1829;
  margin: 0 !important;
}

.stat-value {
  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  color: #455364;
  margin: 0 !important;
}

@media only screen and (max-width: 991px) {
  .stat-column {
    flex-direction: row;
    width: 100%;
  }

  .stat-name {
    width: 90%;
  }
  
  .stat-value {
    width: 10%;
    display: flex;
    justify-content: flex-end;
  }
}