<section id="landing">
  <app-wallpaper></app-wallpaper>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section [id]="section.id" *ngFor="let section of sections">
  <app-navigation-box [section]="section"></app-navigation-box>
</section>
