<div class="pokemon-card animate__animated animate__fadeIn {{ customClasses }}" matRipple>
  <div class="pokemon-card__content">
    <div class="pokemon-card__content__info">
      <h5 class="card-id">#{{ pokemon?.id }}</h5>
      <h2 class="card-title">
        {{ pokemon?.name }}
        <mat-icon *ngIf="hasGender" [svgIcon]="gender === 'female' ? 'mat_solid:female' : 'mat_solid:male'"></mat-icon>
        <i></i>
      </h2>
    </div>

    <div class="pokemon-card__content__image">
      <img class="pokemon-card-img" [defaultImage]="pokemon?.image" [lazyLoad]="pokemon?.image || errorPlaceholder" />
    </div>
  </div>

  <div class="pokemon-card-types">
    <div class="type animate__animated animate__fadeIn" *ngFor="let type of pokemonTypes">
      <img [defaultImage]="type?.img" [lazyLoad]="type?.img" class="type-img" />
    </div>
  </div>
</div>
