.pokemon-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px #7c7c7c;
  cursor: pointer;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__info {
      width: 65%;
    }

    &__image {
      display: flex;
      flex-direction: column;
      width: 35%;
      position: relative;
      align-items: flex-end;
      padding: 5px 10px 0 0;
    }
  }

  .card-title,
  .card-id {
    margin: 0;
    font-family: "Aldrich", sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
  }

  .card-title {
    display: flex;
    align-items: center;
  }

  .pokemon-card-img {
    width: 70px;
    height: 70px;
    z-index: 2;
    transition: all ease-in-out 0.3s;
  }

  .pokemon-card-img-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .pokemon-card-types {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
}

.pokemon-card:hover {
  .pokemon-card-img {
    transform: scale(1.3);
  }
}

.type-img {
  width: 80px;
  padding-right: 5px;
}

.mat-icon {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}