<div class="moves-list" *ngIf="!isLoading">
  <h1 class="move-title">Moves ({{ movesList?.length }})</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let move of editedMovesList">
      <mat-expansion-panel-header>
        <mat-panel-title class="move-name">{{ move?.data?.name }}</mat-panel-title>
        <span class="move-type">
          <img [src]="move?.img" class="type-img" />
        </span>
      </mat-expansion-panel-header>

      <div class="effects" *ngFor="let entry of move?.data?.detail.effect_entries">
        <div class="type mb20">
          <img
            [src]="move?.img"
            class="type-img clickable"
            (click)="navigateToTypeDetails(move?.data?.detail.type?.name)"
          />
        </div>

        <div *ngIf="entry?.language.name === 'en'" class="move-effect">
          <div class="row move-details">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="details-item">
                <div class="move-label skill-label">Accuracy:</div>
                <div class="move-value">{{ move?.data?.detail?.accuracy || '-' }}</div>
              </div>

              <div class="details-item">
                <div class="move-label skill-label">Power:</div>
                <div class="move-value">{{ move?.data?.detail?.power || '-' }}</div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="details-item">
                <div class="move-label skill-label">PP:</div>
                <div class="move-value">{{ move?.data?.detail?.pp || '-' }}</div>
              </div>

              <div class="details-item">
                <div class="move-label skill-label">Priority:</div>
                <div class="move-value">{{ move?.data?.detail?.priority || '-' }}</div>
              </div>
            </div>
          </div>

          <div class="move-txt" *ngIf="entry?.effect">{{ entry?.effect }}</div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
