.sprites-list {
  .sprites-title {
    font-family: "Aldrich", sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
    color: #0b1829;
  }


}



.image-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 575px) {
    flex-direction: row;
  }

  .sprite {
    width: 150px;

    @media only screen and (max-width: 767px) {
      width: 100px;
    }
  }
  
  .sprite-name {
    font-family: "Aldrich", sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    color: #0b1829;
    margin: 0 !important;
    transition: all ease-in-out 0.5s;

    @media only screen and (max-width: 575px) {
      width: 100%;
    }
  }
}




