<!-- POKEMON STATS LIST -->
<div class="sprites-list">
  <h1 class="sprites-title">Sprites</h1>
  <mat-card>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3" *ngIf="spritesList?.front_default">
        <div class="image-column">
          <h3 class="sprite-name">Male</h3>
          <img
            class="sprite animate__animated animate__fadeIn"
            [defaultImage]="spritesList?.front_default"
            [lazyLoad]="spritesList?.front_default"
          />
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-lg-3" *ngIf="spritesList?.front_shiny">
        <div class="image-column">
          <h3 class="sprite-name">Shiny male</h3>
          <img
            class="sprite animate__animated animate__fadeIn"
            [defaultImage]="spritesList?.front_shiny"
            [lazyLoad]="spritesList?.front_shiny"
          />
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-lg-3" *ngIf="spritesList?.front_female">
        <div class="image-column">
          <h3 class="sprite-name">Female</h3>
          <img
            class="sprite animate__animated animate__fadeIn"
            [defaultImage]="spritesList?.front_female"
            [lazyLoad]="spritesList?.front_female"
          />
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-lg-3" *ngIf="spritesList?.front_shiny_female">
        <div class="image-column">
          <h3 class="sprite-name">Shiny female</h3>
          <img
            class="sprite animate__animated animate__fadeIn"
            [defaultImage]="spritesList?.front_shiny_female"
            [lazyLoad]="spritesList?.front_shiny_female"
          />
        </div>
      </div>
    </div>
  </mat-card>
</div>
