<pagination-template
  #paginator="paginationApi"
  class="pagination"
  [ngClass]="{ disabled }"
  [maxSize]="maxSize"
  (pageChange)="onPageChange($event)"
  (pageBoundsCorrection)="onPageChange($event)"
>
  <!-- Previous control -->
  <div
    class="pagination-control pagination-previous"
    [class.disabled]="paginator?.isFirstPage()"
    matRipple
    [matRippleDisabled]="paginator?.isFirstPage() || false"
  >
    <div class="w-100 h-100 d-flex align-items-center justify-content-center" (click)="previous(paginator)">
      <mat-icon class="pagination-control-icon" [svgIcon]="'feather:chevron-left'"></mat-icon>
      <span class="pagination-control-label d-none d-sm-block">PREVIOUS</span>
    </div>
  </div>

  <!-- Pages -->
  <div
    *ngFor="let page of paginator.pages"
    matRipple
    class="pagination-page"
    [ngClass]="{ current: paginator.getCurrent() === page.value }"
  >
    <div
      *ngIf="paginator.getCurrent() !== page.value"
      class="page-content"
      [textContent]="page.label"
      (click)="setCurrent(paginator, page.value)"
    ></div>
    <div class="page-content" *ngIf="paginator.getCurrent() === page.value" [textContent]="page.label"></div>
  </div>

  <!-- Next control -->
  <div
    class="pagination-control pagination-next"
    [class.disabled]="paginator?.isLastPage()"
    matRipple
    [matRippleDisabled]="paginator?.isLastPage() || false"
  >
    <div class="w-100 h-100 d-flex align-items-center justify-content-center" (click)="next(paginator)">
      <span class="pagination-control-label d-none d-sm-block">NEXT</span>
      <mat-icon class="pagination-control-icon" [svgIcon]="'feather:chevron-right'"></mat-icon>
    </div>
  </div>
</pagination-template>
