<mat-card class="region-card mt30 mb30 animate__animated animate__fadeIn">
  <div class="region-card-header">
    <h2 class="region-title">{{ region?.name }}</h2>
    <button mat-mini-fab color="primary" class="rotateBtn" (click)="toggleRegionInfo()" matTooltip="Show versions">
      <mat-icon [@rotateIcon]="showRegionInfo">arrow_downward</mat-icon>
    </button>
  </div>

  <div class="region-info">
    <div class="detail-item mt10">
      <div class="item-label generation">Introduced in:</div>
      <div class="item-value">{{ regionGeneration }}</div>
    </div>

    <div class="detail-item mt10">
      <div class="item-label">Locations:</div>
      <div class="item-value">{{ regionLocationsNumber }}</div>
    </div>

    <div class="detail-item versions-item mt10">
      <div class="item-label">Versions:</div>
      <div class="item-value versions-list row">
        <div *ngFor="let version of versionList" class="col-4 col-sm-3 col-md-2 col-lg-2 version-group">
          <img
            class="version-cover-img mt10 animate__animated animate__fadeIn"
            [matTooltip]="version?.capitalName"
            [defaultImage]="errorPlaceholder"
            [lazyLoad]="version?.cover || errorPlaceholder"
          />
        </div>
      </div>
    </div>

    <div [@showRegion]="showRegionInfo">
      <div class="detail-item item-map mt30">
        <div class="item-label">Map:</div>
        <div class="item-value map-value">
          <img
            class="region-map mt10 animate__animated animate__fadeIn"
            [defaultImage]="regionMap"
            [lazyLoad]="regionMap"
          />
        </div>
      </div>
    </div>
  </div>
</mat-card>
