<app-page-header title="Types"></app-page-header>

<div class="container mt30 animate__animated animate__fadeIn" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let type of typesList">
      <button
        mat-raised-button
        class="type-button"
        [class]="processType(type)[0].class"
        (click)="navigateToType(type.name)"
      >
        <h4 class="type-name">{{ type.name }}</h4>
        <img [src]="getTypeIcon(type.name)" class="type-img" />
      </button>
    </div>
  </div>
</div>
