@import '../../../../../scss/mixins';

.type-button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include transition(all, 0.3s, ease);

    &:hover {
      .type-img {
        transform: scale(1.1);
        box-shadow: 1px 1px 10px black;
      }
    }

  .type-name {
    display: flex;
    width: 100%;
    margin: 0;
    font-family: "Aldrich", sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .type-img {
    cursor: pointer;
    display: flex;
    width: 40px;
    margin: 0;
    border-radius: 50%;
    @include transition(all, 0.3s, ease);
  }
}

::ng-deep {
  .mat-button-wrapper {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
