@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 100px 0;
  position: relative;
  z-index: 9;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

  .disabled-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  &-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include transition(all, 0.2s, ease);

    &.current {
      background-color: $black;
      color: white;
      cursor: default;
    }

    &:not(.current) {
      cursor: pointer;

      &:hover {
        background-color: grey;
      }
    }

    .page-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &-control {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    @include transition(all, 0.2s, ease);

    &.disabled {
      color: gray;
      cursor: default;
    }

    &:not(.disabled) {
      &:hover {
        color: $black;
        background: gray;
      }
    }
  }

  .pagination-previous {
    .pagination-control-label {
      margin-left: 5px;
    }
  }

  .pagination-next {
    .pagination-control-label {
      margin-right: 5px;
    }
  }
}

.pagination-control-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
