<app-page-header title="Pokémons"></app-page-header>

<div class="container">
  <div class="row mt30">
    <app-pokemon-search-container></app-pokemon-search-container>
  </div>

  <div class="row" *ngIf="pokemonsList">
    <app-pokemon-loader [message]="loadingMessage" *ngIf="isLoading"></app-pokemon-loader>

    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 g-4"
      [ngClass]="{ 'd-none': isLoading }"
      *ngFor="let pokemon of pokemonsList | paginate: { itemsPerPage, currentPage, totalItems: meta?.count }"
    >
      <app-pokemon-card
        *ngIf="!isLoading"
        [pokemon]="pokemon"
        (click)="navigateToPokemon(pokemon.id)"
      ></app-pokemon-card>
    </div>

    <app-list-paginator
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      [totalItems]="totalItems"
      (changed)="onPageChange($event)"
    ></app-list-paginator>
  </div>
</div>
