.loader {
  text-align: center;
  padding: 100px 20px;

  .loader-img {
    width: 35px;
    animation: zoominoutsinglefeatured 1s infinite;
  }

  .message-container {
    margin-top: 10px;
    text-align: center;
  
    .message {
      width: fit-content;
      margin: 0 auto;
      background: #0a1a2a;
      color: white;
      padding: 0 5px;
      border-radius: 5px;
      -webkit-font-smoothing: antialiased;
    }
  }
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}