<div class="loader animate__animated animate__zoomIn">
  <img [defaultImage]="loaderImg" [lazyLoad]="loaderImg" class="loader-img animate__animated animate__fadeIn" />
  <div class="message-container">
    <h3 class="message" [textContent]="message"></h3>
  </div>
</div>
