@import '../../../../scss/mixins.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
  padding: 20px;
  @include transition(all, 0.3s, ease);

  &.transparent-bg {
    background-color: transparent;
    color: white;
  }
  
  &.black-bg {
    background: #181716eb;
    color: white;
  }

  .left {
    display: flex;
    cursor: pointer;

    .logo {
      width: 30px;
      @include transition(all, 0.3s, ease);

      &:hover {
        width: 35px;
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .right {
    .links {
      display: flex;

      .link-item {
        color: white;
        background: transparent;
        font-family: "Aldrich", sans-serif !important;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 10px;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}