<mat-toolbar
  id="top"
  class="header d-flex justify-content-end"
  [ngClass]="isOnTop === true ? 'transparent-bg' : 'black-bg'"
>
  <div class="left" [routerLink]="['/']">
    <img [src]="logo" class="logo" alt="Pokédex" />
  </div>

  <div class="spacer"></div>

  <div class="right">
    <div class="links d-none d-md-block">
      <button mat-flat-button *ngFor="let item of menuItems" class="link-item" [routerLink]="[item.url]">
        {{ item.label }}
      </button>
    </div>

    <button mat-icon-button type="button" class="d-block d-md-none" (click)="toggleMenu()">
      <mat-icon [svgIcon]="'feather:menu'"></mat-icon>
    </button>
  </div>
</mat-toolbar>
