/* ****************************************************** */

// HEADER

.pokemon-details-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.pokemon-img {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.header-img {
  display: flex;
  width: 250px;
  height: fit-content;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

/* ****************************************************** */

// POKEMON INFO

.pokemon-name {
  font-size: 45px;
  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}

.details-items-grid {
  display: grid;
  grid-gap: 10px;
}

.details-item {
  display: flex;
  flex-direction: row;
  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}

.header-label {
  width: 100px;
  transition: all ease-in-out 0.5s;
}

.item-types {
  align-items: flex-end;
}

/* ****************************************************** */

// TYPES

.types-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
}

.type {
  margin-right: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.type:hover {
  filter: brightness(0.5);
}

.type-img {
  height: 20px;
}

/* ****************************************************** */

// BACKGROUND GIFs

.grass-gif {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}

.fire-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.flying-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.ice-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}

.rock-gif {
  position: absolute;
  bottom: -70px;
  right: 50px;
  height: 100%;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}

.water-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.bug-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.poison-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.electric-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.fairy-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.fighting-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.ground-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.ghost-gif {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 1;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

/* ****************************************************** */

/* MEDIA QUERIES */

@media only screen and (max-width: 991px) {
  .pokemon-name {
    font-size: 35px;
  }
  .header-img {
    width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .bug-gif {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: auto;
  }
  .rock-gif {
    bottom: 0;
    right: 0;
    height: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-name {
    font-size: 25px;
  }
  .header-img {
    width: 150px;
  }
  .header-label {
    width: 75px;
  }
  .details-item {
    font-size: 12px;
  }
  .details-items-grid {
    grid-gap: 5px;
  }
  .img-type {
    width: 50px;
  }
}

@media only screen and (max-width: 360px) {
  .pokemon-details-header {
    padding: 10px 20px;
  }
  .pokemon-name {
    margin: 0;
  }
  .pokemon-img {
    width: 100px;
    position: absolute;
    top: -45px;
    right: -10px;
  }
}