<mat-card class="pokemon-details-header animate__animated animate__fadeIn" [class]="pokemon?.color[0]?.class">
  <div class="pokemon-stats">
    <div class="stats">
      <h1 class="pokemon-name" [textContent]="pokemon?.name">{{ pokemon?.name }}</h1>

      <div class="details-items-grid">
        <div class="details-item">
          <div class="header-label">Height :</div>
          <div class="header-value">{{ height }} m</div>
        </div>

        <div class="details-item">
          <div class="header-label">Weight :</div>
          <div class="header-value">{{ weight }} Kg</div>
        </div>

        <div class="details-item">
          <div class="header-label">Base Exp :</div>
          <div class="header-value">{{ pokemon?.baseExp }} pts</div>
        </div>

        <div class="details-item item-types">
          <div class="header-label">Type(s) :</div>
          <div class="types-container">
            <div class="type" *ngFor="let typeObject of pokemontypes" (click)="navigateToTypeDetails(typeObject?.name)">
              <img
                [defaultImage]="typeObject?.img"
                [lazyLoad]="typeObject?.img"
                class="type-img animate__animated animate__fadeIn"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-img animate__animated animate__fadeInRight animate__delay-1s">
    <img
      class="pokemon-img animate__animated animate__fadeIn"
      [defaultImage]="pokemon?.image"
      [lazyLoad]="pokemon?.image"
    />
  </div>

  <div *ngIf="hasGif">
    <img
      class="animate__animated animate__fadeIn"
      [class]="selectedGifClass.class"
      [defaultImage]="pokemonGif"
      [lazyLoad]="pokemonGif"
    />
  </div>
</mat-card>
