<div
  class="home-full-height-container"
  [defaultImage]="wallpaperBackground"
  [lazyLoad]="wallpaperBackground"
  id="home"
></div>

<div class="bg-content">
  <div class="bg-content-middle animate__animated animate__fadeIn">
    <h1 class="bg-title">My Pokedex</h1>
    <h3 class="bg-subtitle">Thomas Lenoel</h3>

    <div class="technology mt-50">
      <h5 class="powered-by">Powered by</h5>
      <a href="http://angular.io/" target="_blank">
        <img [defaultImage]="angularImg" [lazyLoad]="angularImg" class="angular-img" alt="Angular" />
      </a>
      <a href="https://ngrx.io/" target="_blank">
        <img [defaultImage]="ngrxImg" [lazyLoad]="ngrxImg" class="angular-img" alt="NgRx" />
      </a>
    </div>

    <div class="scroll-btn-container">
      <button class="scroll-btn animated flipInY delay-2s" (click)="scrollTo('about')">
        <img [src]="pokeballImg" width="30px" />
      </button>
    </div>
  </div>
</div>
