@import '../../../../../scss//mixins.scss';

.home-full-height-container {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  -moz-object-fit: cover;
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.bg-content {
  display: table;
  height: 95vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  color: white;

  .bg-content-middle {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    .bg-title {
      font-family: "Aldrich", sans-serif !important;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      letter-spacing: 10px;
      font-size: 50px;
      @include transition(all, 0.3s, ease-in-out);

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }
    }
    
    .bg-subtitle {
      font-family: "Aldrich", sans-serif !important;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 16px;
      color: white;
      @include transition(all, 0.3s, ease-in-out);

    }

    .technology {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      @include transition(all, 0.3s, ease-in-out);

      .powered-by {
        margin: 0;
        font-family: "Aldrich", sans-serif !important;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: white;
        @include transition(all, 0.3s, ease-in-out);

      }
      
      .angular-img {
        width: 50px;
      }
    }

    .scroll-btn-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-animation: mover 0.5s infinite alternate;
      animation: mover 0.5s infinite alternate;
    
      .scroll-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        -webkit-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -ms-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
      }
    }
  }
}

.section-container {
  padding: 50px 0 0;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

// @media screen and (max-width: 575px) {
//   .bg-title {
//     font-size: 30px;
//   }

//   .bg-subtitle {
//     font-size: 12px;
//   }

//   .powered-by {
//     font-size: 10px;
//   }
// }
