<div class="damage-list">
  <h1 class="card-title">Damages</h1>

  <mat-card>
    <div class="damages-item">
      <h3 class="damage-title">Double damage from:</h3>
      <p class="damage-desc">A Pokémon of this type will take double damage from Pokémons of the following types:</p>
      <div class="damage-types">
        <img
          *ngFor="let type of info.doubleDamageFrom"
          [defaultImage]="type.img"
          [lazyLoad]="type.img"
          class="type-img mr10 animate__animated animate__fadeIn"
          (click)="navigateToType(type.name)"
        />
      </div>
    </div>
  </mat-card>

  <mat-card class="mt30">
    <div class="damages-item">
      <h3 class="damage-title">Double damage to:</h3>
      <p class="damage-desc">A Pokémon of this type will inflict double damage to Pokémons of the following types:</p>
      <div class="damage-types">
        <img
          *ngFor="let type of info.doubleDamageTo"
          [defaultImage]="type.img"
          [lazyLoad]="type.img"
          class="type-img mr10 animate__animated animate__fadeIn"
          (click)="navigateToType(type.name)"
        />
      </div>
    </div>
  </mat-card>

  <mat-card class="mt30">
    <div class="damages-item">
      <h3 class="damage-title">Half damage from:</h3>
      <p class="damage-desc">A Pokémon of this type will take half damage from Pokémons of the following types:</p>
      <div class="damage-types">
        <img
          *ngFor="let type of info.halfDamageFrom"
          [defaultImage]="type?.img"
          [lazyLoad]="type.img"
          class="type-img mr10 animate__animated animate__fadeIn"
          (click)="navigateToType(type.name)"
        />
      </div>
    </div>
  </mat-card>

  <mat-card class="mt30 mb50">
    <div class="damages-item">
      <h3 class="damage-title">Half damage to:</h3>
      <p class="damage-desc">A Pokémon of this type will inflict half damage to Pokémons of the following types:</p>
      <div class="damage-types">
        <img
          *ngFor="let type of info.halfDamageTo"
          [defaultImage]="type.img"
          [lazyLoad]="type.img"
          class="type-img mr10 animate__animated animate__fadeIn"
          (click)="navigateToType(type.name)"
        />
      </div>
    </div>
  </mat-card>
</div>
