<app-page-header title="Pokémon details"></app-page-header>

<div class="container mt30 pb50">
  <app-pokemon-loader [message]="loadingMessage" *ngIf="isLoading"></app-pokemon-loader>

  <section class="mb50 animate__animated animate__fadeIn" *ngIf="!isLoading">
    <app-pokemon-detail-header [pokemon]="pokemon?.basicInfo"></app-pokemon-detail-header>
  </section>

  <section class="mb50 animate__animated animate__fadeIn" *ngIf="!isLoading">
    <app-pokemon-stats-list [statsList]="pokemon?.basicInfo?.stats"></app-pokemon-stats-list>
  </section>

  <section class="mb50 animate__animated animate__fadeIn" *ngIf="!isLoading">
    <app-pokemon-sprites-gallery [spritesList]="pokemon?.basicInfo?.sprites"></app-pokemon-sprites-gallery>
  </section>

  <section class="mb50 animate__animated animate__fadeIn" *ngIf="!isLoading">
    <app-pokemon-abilities-list [abilitiesList]="pokemon?.abilities"></app-pokemon-abilities-list>
  </section>

  <section class="mb50 animate__animated animate__fadeIn" *ngIf="!isLoading">
    <app-pokemon-moves-list [movesList]="pokemon?.moves"></app-pokemon-moves-list>
  </section>
</div>
