<div class="page-header" [defaultImage]="background" [lazyLoad]="background">
  <div class="container header-content">
    <h1 class="header-title animate__animated animate__fadeInLeft">{{ title }}</h1>
    <img class="right-img" [defaultImage]="pokemonImage" [lazyLoad]="pokemonImage" />
  </div>
</div>
