.page-header {
  height: 230px;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  padding-bottom: 75px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;

  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .header-title {
      color: white;
      font-size: xx-large;
      margin: 0 !important;
      font-family: "Aldrich", sans-serif !important;
      font-weight: bold;
      text-transform: uppercase;
      transition: all ease-in-out 0.3s;
    }

    .right-img {
      height: 150px;
      position: absolute;
      top: -70px;
      right: 0;
      bottom: 0;
  
      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .right-img {
    height: 70px;
    position: absolute;
    right: 5%;
    bottom: 15%;
  }

  .header-title {
    font-size: x-large;
  }
}