<app-splash-screen [showSplashScreen]="showSplashScreen"></app-splash-screen>

<div id="top" class="w-100 animate__animated animate__fadeIn" [ngClass]="{ 'd-none': showSplashScreen }">
  <router-outlet></router-outlet>
</div>
