<app-page-header title="Evolutions"></app-page-header>

<div class="container">
  <div class="row" *ngIf="displayedEvolutions">
    <app-pokemon-loader [message]="loadingMessage" *ngIf="isLoading"></app-pokemon-loader>

    <div
      class="col-12 d-flex justify-content-center"
      [ngClass]="{ 'd-none': isLoading }"
      *ngFor="
        let evolutionTree of displayedEvolutions | paginate: { itemsPerPage, currentPage, totalItems: meta?.count }
      "
    >
      <app-evolution-tree [evolutionTree]="evolutionTree"></app-evolution-tree>
    </div>

    <app-list-paginator
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      [totalItems]="totalItems"
      (changed)="onPageChange($event)"
    ></app-list-paginator>
  </div>
</div>
