@import '../../../../../scss/mixins.scss';

.about-article {
  background-color: #181716;
  padding: 50px 0;
  overflow: hidden;
  @include transition(all, 0.3s, ease-in-out);

  .about-content {
    .about-content-txt {
      font-family: "Aldrich", sans-serif !important;
      font-weight: 100;
      text-transform: uppercase;
      color: white;
      @include transition(all, 0.3s, ease-in-out);
    }

    .lugia-img {
      width: 250px;
      @include transition(all, 0.3s, ease-in-out);
    }
    
    .introduction {
      line-height: 25px;
      @include transition(all, 0.3s, ease-in-out);
    }
  }
}

@media screen and (max-width: 767px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-content-txt {
    margin: 0;
  }

  .lugia-img {
    width: 180px;
    margin-top: 30px;
  }
}