<div class="about-article">
  <div class="container">
    <div class="about-content d-flex flex-column flex-md-row align-items-center">
      <div class="about-content-txt">
        <p class="introduction">
          This Pokédex has been developped as part of a list of fun projects designed to improve my angular skills.
          Thanks to the <a href="https://pokeapi.co/" target="_blank">PokéAPI</a> you will be able to browse through
          your favourite Pokémons to consult their abilities, but also to access information about their types,
          evolutions and about the different regions that shape the world of Pokémon.
        </p>
      </div>
      <div class="about-content-img">
        <img [src]="lugiaImg" class="lugia-img" />
      </div>
    </div>
  </div>
</div>
