<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #sidenav
    class="sidenav-container"
    [mode]="mode"
    [opened]="opened"
    [fixedInViewport]="fixed"
    [fixedTopGap]="top"
    [fixedBottomGap]="bottom"
  >
    <app-sidenav-content (toggled)="sidenav.toggle()"></app-sidenav-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [isOnTop]="isOnTop" [opened]="opened" (toggled)="sidenav.toggle()"></app-header>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
