.layout-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background: #2b2c2c;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}