<app-page-header title="Regions"></app-page-header>

<div class="container regions-container mt10">
  <div class="loader-container" *ngIf="isLoading">
    <app-pokemon-loader [message]="loadingMessage"></app-pokemon-loader>
  </div>

  <section *ngIf="!isLoading">
    <div *ngFor="let region of regionsList" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <app-region-card [region]="region"></app-region-card>
    </div>
  </section>
</div>
