::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    height: 100% !important;
    top: -2px !important;
  }
}

.search-form {
  width: 600px;
  max-width: 100%;

  .mat-form-field {
    width: 100%;
  }
}