<form class="search-form">
  <mat-form-field appearance="outline">
    <mat-label>Search a Pokémon</mat-label>
    <input
      type="text"
      placeholder="Pick a Pokémon..."
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="navigateToPokemonDetail($event)">
      <mat-option *ngFor="let pokemon of filteredOptions | async" [value]="pokemon?.name">
        <img alt="pokemon?.name" [src]="pokemon?.image || placeholder" height="25" />
        <span class="ml10">{{ pokemon?.name | titlecase }}</span>
      </mat-option>
    </mat-autocomplete>

    <mat-icon matPrefix class="mr5" [svgIcon]="'feather:search'"></mat-icon>
  </mat-form-field>
</form>
