@import '../../../../scss/mixins.scss';

.splash-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../../assets/images/Wallpapers/Stars.jpg);

  &__loader {
    width: 300px;
    -webkit-animation: mover 0.5s infinite alternate;
    animation: mover 0.5s infinite alternate;
    @include transition(all, 0.3s, ease);

    @media screen and (max-width: 500px) {
      width: 200px;
    }

    @media screen and (max-width: 400px) {
      width: 150px;
    }
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}