<app-page-header title="Type details"></app-page-header>

<div class="container mt50">
  <app-pokemon-loader *ngIf="isLoading" message="Loading..."></app-pokemon-loader>

  <div *ngIf="!isLoading">
    <section class="animate__animated animate__fadeIn">
      <app-type-single-header [type]="type"></app-type-single-header>
    </section>

    <section class="mt50 animate__animated animate__fadeIn">
      <app-type-single-card [type]="type"></app-type-single-card>
    </section>
  </div>
</div>
