.logo {
  width: 100%;
  padding: 20px 40px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  .link-item {
    width: 100%;
    background: #515558;
    color: white;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.starters {
  width: 100%;
  padding: 0 60px;
  margin: 0;
}