<img [src]="logo" alt="Pokédex" class="logo" />

<div class="links">
  <button
    mat-button
    *ngFor="let item of menuItems"
    class="link-item"
    [autofocus]="false"
    (click)="navigateToPage(item.url)"
  >
    {{ item.label }}
  </button>
</div>

<img [src]="starters" alt="Pokédex" class="starters" />
