<div class="evolution-node">
  <h5 class="pokemon-id">{{ pokemonId }}</h5>

  <div class="wrapper mt10">
    <div class="pokemon-image-container">
      <img
        [defaultImage]="pokemon?.img"
        [lazyLoad]="pokemon?.img || placeholder"
        class="evolution-img animate__animated animate__fadeIn"
      />
    </div>

    <div class="pokemon-info-container">
      <h2 class="pokemon-name">
        {{ pokemonName }}
        <mat-icon *ngIf="hasGender" [svgIcon]="gender === 'female' ? 'mat_solid:female' : 'mat_solid:male'"></mat-icon>
      </h2>

      <div class="pokemon-info" *ngIf="!isFirstPokemon">
        <ng-container [ngSwitch]="pokemon?.triggerName">
          <ng-container *ngSwitchCase="null">
            <div class="info-item">
              <h5 class="info-label">Min lvl:</h5>
              <h5 class="info-value">{{ pokemon?.minLevel }}</h5>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'level-up'">
            <div class="info-item">
              <h5 class="info-label">Trigger:</h5>
              <h5 class="info-value">Level up</h5>
            </div>

            <div class="info-item">
              <h5 class="info-label">Min lvl:</h5>
              <h5 class="info-value">{{ pokemon?.minLevel }}</h5>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'trade'">
            <div class="info-item">
              <h5 class="info-label">Trigger:</h5>
              <h5 class="info-value">Trade</h5>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'use-item'">
            <div class="info-item">
              <h5 class="info-label">Trigger:</h5>
              <h5 class="info-value">Use an item</h5>
            </div>

            <div class="info-item">
              <h5 class="info-label">Item:</h5>
              <h5 class="info-value">{{ evolItem }}</h5>
              <img
                [defaultImage]="pokemon?.item?.sprites?.default"
                [lazyLoad]="pokemon?.item?.sprites?.default"
                class="item-sprite"
              />
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="action-container d-flex justify-content-end">
    <button mat-stroked-button matTooltip="See this Pokémon's details" (click)="navigateToPokemon(pokemon.speciesId)">
      More info
    </button>
  </div>
</div>
