/* You can add global styles to this file, and also import other style files */

@import './scss/variables.scss';
@import './scss/mixins.scss';
@import './scss/custom.scss';
@import './scss/scrollbar.scss';
@import './scss/pokemon-types.scss';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

