// Pokémon Types
.type-shadow {
  background: linear-gradient(140deg, #243141 0%, #323d48 27%, white 100%) !important;
  color: #d8d8d8 !important;
}

.type-grass {
  background: linear-gradient(140deg, #64bc5b 30%, #022803 86%) !important;
  color: #163f0f !important;
}

.type-fire {
  background: linear-gradient(140deg, #ff9d56 30%, #660c05 86%) !important;
  color: #481206 !important;
}

.type-flying {
  background: linear-gradient(140deg, #8fa9de 30%, #1f0c58 86%) !important;
}

.type-water {
  background: linear-gradient(140deg, #5190d6 30%, #002645 86%) !important;
  color: #07103d !important;
}

.type-normal {
  background: linear-gradient(140deg, #919aa2 30%, #192024 86%) !important;
  color: #192024 !important;
}

.type-fighting {
  background: linear-gradient(140deg, #ce426c 30%, #590f0b 86%) !important;
  color: #3f0d0a !important;
}

.type-poison {
  background: linear-gradient(140deg, #aa6cc8 30%, #32043a 86%) !important;
  color: #2b0e31 !important;
}

.type-electric {
  background: linear-gradient(140deg, #f4d23d 30%, #74690b 86%) !important;
  color: #2b280c !important;
}

.type-ground {
  background: linear-gradient(140deg, #d97946 30%, #4f1706 86%) !important;
  color: #33160d !important;
}

.type-psychic {
  background: linear-gradient(140deg, #fa727a 30%, #482186 86%) !important;
  color: #5c181c !important;
}

.type-rock {
  background: linear-gradient(140deg, #c5b78c 30%, #725c02 86%)!important;
  color: #312a0f !important;
}

.type-ice {
  background: linear-gradient(140deg, #74cec0 30%, #085555 86%) !important;
  color: #0d3131 !important;
}

.type-bug {
  background: linear-gradient(140deg, #91c130 30%, #1a3000 86%) !important;
  color: #1e2f09 !important;
}

.type-dragon {
  background: linear-gradient(140deg, #0c6ec3 30%, #25076f 86%) !important;
  color: #0c2235 !important;
}

.type-ghost {
  background: linear-gradient(140deg, #536aad 30%, #1c0b38 86%)  !important;
  color: #1f152f !important;
}

.type-dark {
  background: linear-gradient(140deg, #5b5466 30%, #03050f 86%) !important;
  color: #03050f !important;
}

.type-steel {
  background: linear-gradient(140deg, #5b8ea2 30%, #2b2b42 86%) !important;
  color: #131331 !important;
}

.type-fairy {
  background: linear-gradient(140deg, #ec8fe6 30%, #a5083d 86%) !important;
  color: #5c0a25 !important;
}

.type-unknown {
  background: linear-gradient(140deg, #68a090 30%, #0f6149 86%) !important;
}