::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
  background: #1e1e1e; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e; 
}