.type-details-header {
  padding: 20px;

  .type-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;

    .type-header-txt {
      width: 100%;

      .type-header-title {
        font-size: 45px;
        margin: 0 !important;
        font-family: "Aldrich", sans-serif !important;
        font-weight: bold;
        text-transform: uppercase;
        transition: all ease-in-out 0.5s;

        @media screen and (max-width: 991px) {
          font-size: 35px;
        }

        @media only screen and (max-width: 767px) {
          font-size: 25px;
        }
      }

      .detail-item {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Aldrich", sans-serif !important;
        font-weight: bold;
        text-transform: uppercase;
        transition: all ease-in-out 0.5s;

        @media only screen and (max-width: 767px) {
          margin-top: 10px;
        }

        @media only screen and (max-width: 450px) {
          font-size: small;
        }

        .item-label {
          width: 170px;
          transition: all ease-in-out 0.5s;

          @media only screen and (max-width: 767px) {
            width: 150px;
          }

          @media only screen and (max-width: 767px) {
            width: 150px;
          }
        }
      }
    }

    .type-header-img {
      width: 100px;
      transition: all ease-in-out 0.5s;

      @media screen and (max-width: 991px) {
        width: 80px;
      }

      @media only screen and (max-width: 450px) {
        font-size: small;
      }

      @media only screen and (max-width: 400px) {
        display: none;
      }
    }
  }
}