<mat-card class="type-details-header animate__animated animate__fadeIn" [class]="typeClass">
  <div class="type-header-content">
    <div class="type-header-txt">
      <h1 class="type-header-title">{{ typeName }}</h1>

      <div class="detail-item">
        <div class="item-label">First appearance:</div>
        <div class="item-value">{{ typeGeneration }}</div>
      </div>
    </div>

    <img [defaultImage]="typeIcon" [lazyLoad]="typeIcon" class="type-header-img animate__animated animate__fadeIn" />
  </div>
</mat-card>
